<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/styles/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/modules.css" />
</head>
<body>
  <div>
    <h1><%= pageTitle %></h1>
    <h2><%=book.title %></h2>
    <p><%=book.isbn %></p>
    <p><%=book.description %></p>
    <a href="/books/"><p>Go back to Book Library</p></a>
  </div>
</body>
</html>