.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bookCard{
  display: flex;
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: darkslategray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  padding-right: 5px;
}

h1 {
  background-color: lightslategrey;
  text-align: center;
  margin: 50 px;
  padding: 20px;
}

.bookDetails{
  padding: 20px;
  margin: 10px;
  background-color: darkslategray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, textarea, label {
  color: black;
}

h3 {
  text-align: center;
  font-size: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content {
  background-color: rgb(190, 190, 190);
  width: 40%;
  padding: 15px;
  margin: 30px auto;
  justify-content: center;
  border: solid 2px rgb(32, 32, 32);
  border-radius: 5px;
}

label {
  font-family: serif;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 15px;
}

.submit-button {
  background-color: rgb(171, 237, 240); 
  border: solid 2px gray;
  border-radius: 5px;
  color:black;
  font-style: serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
}
